<footer class="bg-blue-theme pt-8 pb-2 mt-32 alignfull text-white">
	<div class="wp-block-group__inner-container px-4">
		<div class="flex items-center">
			<div class="w-1/4">
				<div class="text-4xl">
					<strong>WP</strong>-aide
				</div>
			</div>
			<div class="pl-20">
				<ul class="flex space-x-8 justify-center">
					<li><a href="#">À propos</a></li>
					<li><a href="#">Nos offres</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</div>
			<!-- <div class="ml-auto">
				<p class="text-md font-semibold">Suivez-nous</p>
				<ul class="flex space-x-8">
					<li><a href="#">LINK</a></li>
					<li><a href="#">TWITTER</a></li>
					<li><a href="#"></a></li>
				</ul>
			</div> -->
		</div>
		<div class="flex">
			<div class="w-1/4">
				<p class="my-2 text-yellow-theme">Une équipe d'experts au service de votre site sur Wordpress.</p>
			</div>
		</div>
	</div>
	<div class="wp-block-group__inner-container border-t border-white py-4 mt-12">
		<p class="text-sm text-center">Tous droits réservés - Made with ❤️ and Wordpress CMS</p>
	</div>
</footer>
