---
import Nav from "./Nav.astro";
---

<footer class="bg-blue-theme pt-8 pb-2 mt-32 alignfull text-white">
	<div class="wp-block-group__inner-container px-4">
		<div class="text-center md:w-1/4 md:mx-auto">
			<a href="/">
				<img class="inline-block" src="/assets/logo-type-dark-bg.svg" alt="Logo" width="150" />
			</a>
			<p class="my-2 text-yellow-theme">Une équipe d'experts au service de votre site sur Wordpress.</p>
		</div>
		<div class="wp-block-group__inner-container border-t border-white py-4 mt-12">
			<p class="text-sm text-center">Tous droits réservés - Made with ❤️ and Wordpress CMS</p>
		</div>
	</div>
</footer>
