---
---

<header class="header alignfull">
	<div class="wp-block-group__inner-container px-6">
		<div class="flex items-center">
			<div class="text-white text-4xl">
				<strong>WP</strong>-aide
			</div>
			<div class="navigation ml-auto">
				<ul class="flex space-x-8">
					<li><a class="text-white" href="#">nos offres</a></li>
					<li><a class="text-white" href="#">à propos</a></li>
					<li><a class="text-white" href="#">contact</a></li>
				</ul>
			</div>
		</div>
	</div>
</header>
