<ul class="flex space-x-8">
	<li><a class="text-white transition-colors hover:text-yellow-theme" href="#about">à propos</a></li>
	<li><a class="text-white transition-colors hover:text-yellow-theme" href="#offers">nos offres</a></li>
	<li><a class="text-white transition-colors hover:text-yellow-theme" href="#contact">contact</a></li>
</ul>
