@use "sass:map";
.has-x-large-font-size {
	font-size: 2.5rem;
	line-height: normal;
}

.has-large-font-size {
	font-size: 2rem;
	line-height: normal;
	+ p {
		margin-top: 2rem;
	}
}
.has-medium-font-size {
	font-size: 1.5rem;
	line-height: normal;
	+ p {
		margin-top: 2rem;
	}
}

.sur-titre {
	background-color: map.get($colors, "yellow");
	display: inline-block;
	text-transform: uppercase;
	color: map.get($colors, "blue");
	padding: 5px 10px;
	font-weight: 600;
	margin-bottom: 1rem;
	&.has-text-align-center {
		display: table;
		margin-left: auto;
		margin-right: auto;
	}
}

.has-text-align-center {
	text-align: center;
}
